{% spaceless %}
{% include 'Partial/Header.html' %}
<div class="wrapper">
  <div class="rowsection">
    <div class="rowsection-main">
      <div class="welcome">
        <h1>Selamat datang di aplikasi K-Means Clustering</h1>
        <p>
          Aplikasi ini digunakan untuk mengelompokkan jenis teh berdasarkan kualitasnya. Aplikasi ini menggunakan metode K-Means Clustering. K-Means Clustering merupakan salah satu metode data clustering non hirarki yang berusaha mempartisi data yang ada ke dalam bentuk satu atau lebih cluster/kelompok.
          <p>
            <img src="http://localhost/kmeans/public/images/ujimutu.jpg" align="align" width="500px" height="300px">
          </p>
        </p>
      </div>
    </div>
  </div>
</div>
{% include 'Partial/Footer.html' %}
{% endspaceless %}