<html>
  <head>
    <title>Aplikasi Kmeans</title>
    <link rel="stylesheet" href="{{ 'css/style.css' | assets }}" />
  </head>
  <body>
    <div class="wrap">
      <header class="header">
        <div class="header-logo">
          <a href="{{url('home')}}">
            <img src="{{ 'images/site-logo.jpg' | assets }}" alt="logo ptpn7" />
            <div class="header-title">
              <h1>K-Means Clustering</h1>
              Sistem Klasifikasi Jenis Teh Berdasarkan Kualitas
            </div>              
          </a>
        </div>
        <ul class="header-nav">
          <li>
            <a href="{{ url('kmeans') }}">Kmeans</a>
          </li>
          <li>
            <a href="{{ url('import') }}">Import data</a>
          </li>
          <li>
            <a href="{{ url('logout') }}">Logout</a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </header>
      